body {
    height: 100%;
    width: 100%;
    margin: 0;
	display: inline-grid;
	grid-template: "MainStatus MainStatus MainStatus" 7% 
                   "Avatar Image Weather" 8% 
                   "Avatar Image Supplies" 8% 
                   "Avatar Image Supplies" 20% 
                   "People Image Supplies" 15% 
                   "People Chat Supplies" 10% 
                   "People Chat Map" 20% 
                   "People Options Map" 1fr / 20% 1fr 20%;
    background-color: #1f1912;
}

.element {
    background-color: #48351b;
    color: white;
}

audio {
    padding: 5px;
}

button {
    padding: 5px;
    margin: 5px;
    height: 35px;
}

img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}


div {
    margin: 3px;
    border-radius: 5px;
}

#MainStatus {
    grid-area: MainStatus;
    display: flex;
}

#MainStatus > p {
    padding: 10px;
    margin: auto;
}

#Weather {
    grid-area: Weather;
    display: flex;
}

#Weather > p {
    margin: auto;
}

#Avatar {
    grid-area: Avatar;
}

#Avatar > img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

#Image {
    grid-area: Image;
}

#Supplies {
    grid-area: Supplies;
}

#People {
    grid-area: People;
    overflow: scroll;
}

#Chat {
    grid-area: Chat;
    overflow: scroll;
    padding: 0px 0px 0px 100px;
}

#Chat > p {
    margin: 10px 10px 10px auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #1f1912;
    width: fit-content;
}

/*This will colour the user text only, rest of style inherited from the normal box above*/
#Chat > p.user_text {
    background-color: #745736;
}

#Map {
    grid-area: Map;
}

#Options {
    grid-area: Options;
    display: flex;
    flex-direction: row-reverse;
}

#weather_image {
    object-fit: contain;
}
